.App__Header {
    margin-top: -100px; 
    background-color: $headerBg;
    transition: margin 0.3s linear;

    .menu {
        padding-top: 10px;
        padding-bottom: 10px;
    }   

    .options {
        height: 100px;
        background-color: $headerOptionBg;
        color: white;
        font-weight: bold;
        .option {
            cursor: pointer;
            padding-top: 5px;
            border-top: 1px solid $headerOptionBorder;
        }

        .option:hover{
            background-color: $headerOptionHover;
        }
    }

    .collapse_button {
        cursor: pointer;
        color: white;
    }

    .cart, .add {
        cursor: pointer;
        color: white;
        float: right;
        margin-left: 20px;
        svg {
            margin-right: 5px;
        } 
    }

}


.App__Header.collapsed {
    margin-top: 0px;
}
