.App__product_item {

    color: $textColor2;
    margin-bottom: 15px;
    border: 1px solid $color6;

    @media (min-width: 576px) { min-height: 225px; }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { min-height: 230px; }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) { min-height: 240px; }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) { min-height: 250px; }
    
    // Extra large devices (large desktops, 1400px and up)
    @media (min-width: 1300px) { min-height: 320px; }
    .form-group {
        height: 100%;
        position: relative
    }

    img{
        width: 100%;
    }
    .title {
        background-color: $color4;
        color: $blanco;
        font-weight: bold;
        padding: 10px;
        margin-bottom: 10px;
    }
    .remove {
        cursor: pointer;
        color: #bc1d1d;
    }

    .price {
        text-align: center;
        font-size: 16px;
        padding: 5px;
        background-color: #38677d;
        border-radius: 136px;
        width: 75%;
        color: white;
        font-weight: bold;
    }

    .selector{
        .decrease, .increase {
            cursor: pointer;
            margin-top: 30px;
            margin-right: 20px;
            font-size: 20px;
            border: 1px solid black;
            padding: 0px;
            background-color: white;
            border-radius: 100px;
            color: $color4;
            font-weight: bold;
            text-align: center;
        }
        .value  {
            margin-top: 30px;
            font-size: 30px;
        }
    }
}