.App__Question {

    border: 1px solid $color4;
    img {
        width: 100%;
    }
    .img {
        width: 100%;
        height: 200px;
        border: 1px solid black;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .title {
        background-color: $color4;
        color: $blanco;
        padding: 10px;
        margin-bottom: 15px;
        border-bottom: 1px solid $color4;
        font-size: 16px;
        font-weight: bold;
    }

    .buttons{
        text-align: center;
        margin-top: 25px;
    }
    .button {
        margin: 5px;
    }
    .info {
        font-size: 12px;
        border-color: $color4;
        padding: 3px;

        .info-title {
            font-weight: bold;
        }
    }
    .buttonBad {
        color: red;
        background-color: white;
        border: 1px solid $color4;
    }
    .buttonGood {
        color: orange;
        background-color: white;
        border: 1px solid $color4;
    }

    .buttonLove {
        color: green;
        background-color: white;
        border: 1px solid $color4;
    }
}