@import "bootstrap-scss/bootstrap";

$blanco: white;
$negro: black;

$color1: #EAE0D5;
$color2: #38677d;
$color3: #28576d;
$color4: #22333B;
$color5: #0A0908;
$color6: #5E503F;
$background: $blanco;
$textColor: $color4;
$textColor2: $color3;
$headerBg: $color4;
$headerOptionBg: $color2;
$headerOptionBorder: $color4;
$headerOptionHover: $color3;


@import 'buttons';
@import 'header';
@import 'product';
@import 'question';
@import 'orders';

html, body{
    color: $textColor;
    background-color: $background;
}

::-webkit-scrollbar {
    display: none;
}

.App__section {
    margin-top: 25px;
}
.App__Main {
    margin-top: 20px;
}